/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	max-width: 800px;
	margin: auto;
}

h2 {
	text-transform: capitalize;
}
	
h1 {
	text-transform: capitalize;
	font-size: 65px;
	text-align: center;
}
.navigation nav a{
	padding-right: 5%;
	padding-bottom: 3%;
	color: darkgrey;
text-decoration: none;
}

#logopic {
	display: inline;
	justify-items: right;
	padding: 1%;
}

.topofpage {
	padding-top: 3%;
	padding-bottom: 3%;
	border-top: 3px solid grey;
}

.middle {
	padding-top: 3%;
	padding-bottom: 3%;
	border-bottom: 3px solid grey;
}
.bottom {
	padding: 3%;
	width: 80%;
}

header {
	padding: 5%;
}

footer {
	text-align: center;
	padding: 3%;
	width: 80%;
}
button {
	width: 40%;
	margin: 0 30%;
	background-color: white;
}

#codesnippets {
	display: inline-block;
	margin: auto;
}
.format1 {
	display: inline-block;
	margin: auto;
	width: 49%;
}

.format2 {
	display: inline-block;
	width: 31%;
}

.format3 {
	line-height: 2.0;
}

footer {
	font-size: 10px;
}

.getstarted {
	margin: auto;
}

.navigation {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.subformat {
	display: inline-block;
	width: 49%;
	margin: 0 auto;
}

nav {
	display: inline-block;
	width: 60%;
}
